build/

wireleap_intercept/wireleap_intercept.so
wireleap_intercept/wireleap_intercept.o

sub/initcmd/embedded/*
!sub/initcmd/embedded/*.go
!sub/initcmd/embedded/scripts_linux
!sub/initcmd/embedded/scripts_darwin
!sub/initcmd/embedded/scripts_windows
!sub/initcmd/embedded/completion.bash

wireleap_tun/wireleap_tun
